.bug {
    background-color: #A7B723;
}

.dark {
    background-color: #75574C;
}

.dragon {
    background-color: #7037FF;
}

.electric {
    background-color: #F9CF30;
}

.fairy {
    background-color: #E69EAC;
}

.fighting {
    background-color: #C12239;
}

.fire {
    background-color: #F57D31;
}

.flying {
    background-color: #A891EC;
}

.ghost {
    background-color: #70559B;
}

.normal {
    background-color: #AAA67F;
}

.grass {
    background-color: #74CB48;
}

.ground {
    background-color: #DEC16B;
}

.ice {
    background-color: #9AD6DF;
}

.poison {
    background-color: #A43E9E;
}

.psychic {
    background-color: #FB5584;
}

.rock {
    background-color: #B69E31;
}

.steel {
    background-color: #B7B9D0;
}

.water {
    background-color: #6493EB;
}




.bug-text {
    color: #A7B723;
}

.dark-text {
    color: #75574C;
}

.dragon-text {
    color: #7037FF;
}

.electric-text {
    color: #F9CF30;
}

.fairy-text {
    color: #E69EAC;
}

.fighting-text {
    color: #C12239;
}

.fire-text {
    color: #F57D31;
}

.flying-text {
    color: #A891EC;
}

.ghost-text {
    color: #70559B;
}

.normal-text {
    color: #AAA67F;
}

.grass-text {
    color: #74CB48;
}

.ground-text {
    color: #DEC16B;
}

.ice-text {
    color: #9AD6DF;
}

.poison-text {
    color: #A43E9E;
}

.psychic-text {
    color: #FB5584;
}

.rock-text {
    color: #B69E31;
}

.steel-text {
    color: #B7B9D0;
}

.water-text {
    color: #6493EB;
}


header {
    font-family: "Roboto";

}

body {
    font-family: "Roboto";
}

.black-text {
    color: black;
}